* {
    font-family: "Open Sans", sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background-color: white;
    display: grid;
    place-content: center;
}
.container {
    position: relative;
    width: 850px;
    height: 500px;
    background-color: #fff;
    box-shadow: 25px 30px 55px #5557;
    border-radius: 13px;
    overflow: hidden;
    padding-top: 70px;
}
.form-container {
    position: absolute;
    width: 60%;
    height: 100%;
    padding: 0px 40px;
    transition: all 0.6s ease-in-out;
    text-align: center;
    margin-top: 55px;
}
w
.sign-in-container {
    z-index: 2;
}
.form{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;
}
.form h1{
    padding-bottom: 50px;
}
h1 {
    color: black;
}
.infield {
    position: relative;
    margin-top: 15px;
    width: 100%;
}
input {
    width: 100%;
    padding: 12px 15px;
    background-color: #f3f3f3;
    border: none;
    outline: none;
}
a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0px;
}
.btn {
    border-radius: 20px;
    border: 1px solid #ffffff;
    background: #141E30;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
button {
    border-radius: 20px;
    border: 1px solid #141E30;
    background: #141E30;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.form-container button {
    margin-top: 17px;
    transition: 80ms ease-in;
}
.form-container button:hover {
    background: white;
    color: #141E30;
}
.overlay-container{
    position: absolute;
    top: 0;
    left: 60%;
    width: 40%;
    height: 100%;
    overflow: hidden;
}
.overlay {
    position: relative;
    background: rgb(237, 205, 41);
    color: #fff;
    left: -150%;
    height: 100%;
    width: 250%;
    transition: transform 0.6s ease-in-out;
}
.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 40px;
    text-align: center;
    height: 100%;
    width: 340px;
    transition: 0.6s ease-in-out;
}
.overlay-right{
    right: 0;
    transform: translateX(0%);
}
.overlay-panel h1 {
    color: #fff;
}
p{
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 25px 0px 35px;
}
